PORT=3000
NODE_ENV=development
MONGO_URL=mongodb+srv://vikaveremiychuk_db_user:zXXQqQonARQw2tJb@cluster0.nuinjsh.mongodb.net/Tasteorama?appName=Cluster0

CLOUDINARY_CLOUD_NAME=djsokap8w
CLOUDINARY_API_KEY=859792714767938
CLOUDINARY_API_SECRET=dOyuosWqu9g_HrCT1vxX6qveSDs

JWT_SECRET=1a97d7208848b3f316c88cb6ea23aee2

DEFAULT_RECIPE_THUMB=https://res.cloudinary.com/djsokap8w/image/upload/v1781798928/tasteorama-recipes/default-recipe-thumb.jpg

CLIENT_URL=https://tasteorama-project-7-frontend.vercel.app/
